:root {
  --navy-blue: #2e2f42;
  --slate: #434455;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --iris: #4d5ae5;
  --white: #ffffff;
  --ocean: #404bbf;
  --blue: #2e2f42;
  --green: #31d0aa;
  --light-slate: #8e8f99;
  --heavy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --diary: #fcfcfc;
}
/*----------Base styles------------*/
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}
.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

/*-------Components styles------------*/
.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue);
  font-style: normal;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*---------Cancelation------------*/
.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style-type: none;
}
.header-adress {
  font-style: normal;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

-------------------------------------------------------
/*---------HEADER------------*/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-border {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-container-flex {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}

.span-header-logo {
  color: var(--navy-blue);
}

.header-navigation-list {
  display: flex;
  gap: 40px;
}
.header-navigation-item {
}
.header-navigation-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding-top: 24px;
  padding-bottom: 24px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.header-navigation-link:hover,
.header-navigation-link:focus {
  color: var(--ocean);
}
.current {
  color: var(--ocean);
  position: relative;
}
.current::after {
  content: "";
  color: var(--ocean);
  width: 66px;
  height: 4px;
  border-radius: 2px;
  background: var(--ocean);
  margin-top: 20px;
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.header-adress {
}
.header-adress-list {
  display: flex;
  gap: 40px;
}

.header-adress-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-adress-link:focus,
.header-adress-link:hover {
  color: var(--ocean);
}

/*!---------BODY-STUDIO-----------*/

/*---------Hero 1-----------*/

.hero {
  background-color: var(--navy-blue);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  text-align: center;

  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}
.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
  display: block;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}

/*---------Advantages 2------------*/
.advantage {
  padding: 120px 0;
}
.advantage-list {
  /*padding: 0 156px;*/
  display: flex;
  gap: 24px;
}
.advantage-item {
  width: calc((100% - 24px * 3) / 4);
}
.advantage-box-icon {
  width: 100%;
  height: 112px;
  border-radius: 4px;
  background: var(--cloud);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.advantage-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.advantage-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/*---------Work 3 section------------*/
.work {
  padding-bottom: 120px;
}
.work-title {
  margin: 0 auto;
  margin-bottom: 72px;
}
.work-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.work-item {
  width: calc((100% - 24 * 2) / 3);
}

/*---------Team 4 section------------*/
.team {
  background-color: var(--cloud);
  padding: 120px 0;
}
.team-title {
  margin: 0 auto;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-item {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--white);

  width: calc((100% 24 * 3) / 4);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-wrap {
  display: inline-block;
  padding-bottom: 32px;
  padding-top: 32px;
}

.team-subtitle {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.team-text {
  display: inline-block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-align: center;
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  gap: 24px;

  justify-content: center;
}

.team-social-item {
}
.team-social-link {
  background-color: var(--iris);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
  fill: var(--cloud);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--ocean);
}

/* -------------Clients 5 section----------*/

.customers {
  padding: 120px 0;
}

.customers-title {
  margin: 0 auto;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  height: 88px;
  width: calc((100% - 24px * 5) / 6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.customers-link {
  border-radius: 4px;
  border: 1px solid var(--light-slate);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--light-slate);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

/*!------BODY-PORTFOLIO---------*/
.main-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
/*-- -------------- Filter ------ -- */
.filter-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
  padding: 12px 24px;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--white);
  background-color: var(--ocean);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-list {
  display: flex;
  gap: 24px;
  justify-content: center;

  margin-bottom: 72px;
}

/*---------Services------------*/

.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  justify-self: start;
}

.services-item {
  background: var(--white);
  flex-basis: calc((100% - 24px * 2) / 3);
}

.services-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.services-link:hover,
.services-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.services-cover-wrap {
  position: relative;
  overflow: hidden;
}
.services-img {
}

.services-cover-text {
  position: absolute;
  top: 0;
  background: var(--iris);
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.services-link:hover .services-cover-text,
.services-link:focus .services-cover-text {
  transform: translateY(0%);
}

.services-wrapper {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  background: var(--white);
  border-top: none;
}
.services-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--blue);
  margin-bottom: 8px;
}
.services-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/*! ----------FOOTER --------------------*/
.footer {
  display: block;
  background-color: var(--navy-blue);
  padding: 100px 0;
}
.footer-box {
  display: flex;
  align-items: baseline;
}
.logo-wrap {
  margin-right: 120px;
}

.footer-logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--iris);
  max-width: 115px;
  margin-bottom: 16px;
  display: inline-block;
}
.span-footer-logo {
  color: var(--cloud);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  width: 264px;
}
.social-media {
  margin-right: 80px;
}
.social-media-subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}
.social-media-list {
  display: flex;
  gap: 16px;
}

.social-media-item {
}
.social-media-link {
  background-color: var(--iris);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-icon {
  fill: var(--cloud);
}
.social-media-link:hover,
.social-media-link:focus {
  background-color: var(--green);
}

.footer-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-form-text {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--white);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: var(--white);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-input::placeholder {
  color: var(--white);
}

.footer-button {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 4px;
  background: var(--iris);
  color: var(--white);
  font-size: 16px;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.footer-button-icon {
  fill: var(--white);
  margin-left: 16px;
}

/*---------Modal----------*/
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--diary);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-close-button {
  position: absolute;
  right: 24px;
  top: 24px;
  background-color: var(--cornflower);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover,
.modal-close-button:focus {
  background-color: var(--ocean);
  border: none;
}

.close-button-icon {
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}

.modal-close-button:hover .close-button-icon,
.modal-close-button:focus .close-button-icon {
  fill: var(--white);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-title {
  color: var(--blue);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
  position: relative;
}
.modal-label {
  width: 58px;
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--light-slate);
}

.modal-input-wrap {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:hover {
  border-color: var(--iris);
}
.modal-input-icon {
  position: absolute;
  fill: var(--navy-blue);
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-input-icon,
.modal-input:hover + .modal-input-icon {
  fill: var(--iris);
}
.modal-field-comment {
  margin-bottom: 16px;
  position: relative;
}
.modal-textarea {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;

  line-height: 1.17;
  letter-spacing: 0.04em;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  outline: transparent;
}
.modal-textarea:focus,
.modal-textarea:hover {
  border-color: var(--iris);
}

.modal-field-check {
  margin-bottom: 24px;
  position: relative;
}
.modal-check-text {
  color: var(--light-slate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-check-link {
  color: var(--iris);
  text-decoration-line: underline;
  line-height: 1.33;
}

.check-icon-wrap {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.modal-check:checked + .modal-check-text span {
  background-color: var(--ocean);
  fill: var(--cloud);
  border: none;
}

.modal-button {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin-bottom: 24px;
  color: var(--white);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
